@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{ 
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
}

body{
    background: rgba(251, 123, 63, 0.07);
    background: radial-gradient(circle, rgba(251, 123, 63, 0.75) 0%, rgba(252, 225, 70, 1) 100%);
    padding-bottom: 2%;
}

header{
    text-align: center;
}

header h1{
    font-size: 2.75em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

#score-section{
    display: flex;
    gap: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.score-bar{
    padding: 20px 50px;
    border-radius: 25%;
    box-shadow: 3px 5px #33333388;
    width: 65px;
}

.score-bar:nth-of-type(1){
    background: #84e888;
    background: radial-gradient(circle,rgba(132, 232, 136, 1) 0%, rgba(3, 171, 3, 1) 100%);
}

.score-bar:nth-of-type(2){
    background: #f59090;
    background: radial-gradient(circle, rgba(245, 144, 144, 1) 0%, rgba(171, 3, 3, 1) 100%);
}

.score-bar:nth-of-type(3){
    background: #f3f590;
    background: radial-gradient(circle, rgba(243, 245, 144, 1) 0%, rgb(230, 188, 3) 100%);
}

img{
    border-radius: 5%;
}

.choice-container{
    display: flex;
    gap: 20px;
}

.choice{
    background: rgb(224, 151, 15);
    padding: 20px;
    border-radius: 25%;
    box-shadow: 3px 5px #33333388;
}

.choice img{
    width: 155px;
    height: 155px;
    cursor: pointer;
}

.choice:hover{
    opacity: 0.85;
}

.choice:active{
    opacity: 0.75;
}

.reset-button{
    background-color: rgb(224, 151, 15);
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 25%;
    cursor: pointer;
    font-weight: bold;
}

.reset-button:hover{
    box-shadow: 3px 5px #33333388;
    background-color: #000000;
    color: rgb(224, 151, 15);
}

.reset-button:active{
    background-color: #333;
}

#results-section{
    display: none;
    flex-direction: column;
    align-items: center;
}

.results-container{
    display: flex;
    gap: 100px;
}

.result{
    background: rgb(224, 151, 15);
    padding: 42.5px;
    border-radius: 25%;
}

.result img{
    width: 300px;
    height: 300px;
}

.status{
    text-align: center;
    width: 35vw;
    padding: 3px 12px;
    border-radius: 30px;
    margin-top: 75px;
}
