@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{ 
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
}

body{
    background: rgba(251, 123, 63, 0.07);
    background: radial-gradient(circle, rgba(251, 123, 63, 0.75) 0%, rgba(252, 225, 70, 1) 100%);
}

header{
    text-align: center;
}

header h1{
    font-size: 2.75em;
}

.choice-container{
    display: flex;
    gap: 20px;
}

.choice{
    background: rgb(224, 151, 15);
    padding: 20px;
    border-radius: 25%;
}

.choice img{
    width: 155px;
    height: 155px;
}